# Ambiente e segredos
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / Output
dist/
coverage/
.DS_Store

# Logs
logs/
*.log

# Docker
*.pid
*.seed
docker-data/
pgdata/
tmp/

# Jest
.jest/
*.test.ts
*.spec.ts
tests/report/

# TypeORM
ormconfig.json

# Sistema operacional
Thumbs.db
